<!DOCTYPE html>
<html>
<head class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths fa-events-icons-ready">
    {% load staticfiles %}
    <title>{% block head_title %}Welcome to my blog{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Website of Michael Doran">
    <meta name="author" content="">
    <title>Michael Doran</title>

    <!-- Stylesheets -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'app.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrapValidator.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'ladda-themeless.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'jquery.bxslider.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'animate.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'prism.css' %}" rel="stylesheet" media="screen">

</head>
<body data-spy="scroll" data-target="#nav" data-offset="80" class=" pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<!-- Menu -->
<nav class="navbar navbar-default" role="navigation" id="nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img class="logo" src="" alt="Logo">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-reorder"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="navbar">
            <ul class="nav navbar-nav">
                <li class=""><a href="#home">Home<span class="sr-only">home</span></a></li>
                <li class=""><a href="#about">About</a></li>
                <li class="active"><a href="#blog">Blog</a></li>
                <li class=""><a href="#resume">Resume</a></li>
                <li class=""><a href="#skills">Skills</a></li>
                <li><a href="https://github.com/ftgstudio">GitHub</a></li>
                <li class=""><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main -->
<section class="main" id="home">
    <div class="page">
        <div class="wrapper">
            <div class="container">
                <h1 class="heading">Michael Doran</h1>
                <p>
                </p>
                <h3>
                    <span class="rotate" style="text-shadow: black 0px 0px 0px; opacity: 1;">Engineer,Hiker,Scientist,Brewer,Backpacker</span>
                </h3>

                <p></p>
            </div>
            <div class="arrow-down">
                <a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section section-solid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-title">About</h3>
                <div class="section-title-border"></div>
            </div>
        </div>

        <div class="row mt20">
            <div class="col-sm-4 wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInLeft;">
                <img src="" class="img-responsive about-img">
            </div>
            <div class="col-sm-8 wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInRight;">
                <p>
                    What's up!
                </p>
                <p>
                    I'm a computer engineer working and living in West Michigan.  Currently I am working with a local start-up known
                    as TwistHDM on an IoT product known as <a href="http://www.twisthdm.com/">Limelight</a>.  I've had a hand in designing/validating
                    as well as developing firmware for testing.
                </p>
                <p>
                    On the side I contribute to my blog<a href="#">ftgstudio.com</a>, it's a blog about life, technology,
                    and music.
                </p>
                <p>
                    Being a Michigan native I enjoy everything the Greate Lakes state has to offer.  This includes long
                    days at the beach, dir biking, hiking, camping, fishing, hunting, snowmobiling, snowboarding...pretty
                    much anything that involves being outdoors.
                </p>
                <p>
                    When I'm not outdoors I spend my time in my home studio creating all sorts of music.  My favorite musicians
                    include Stevie Ray Vaughn, Jimi Hendrix, Eric Clapton, and BB King.  You name it and I'll sure as hell
                    try to play it.  If I'm not playing music you'll find me at the gym partaking in various circuit and resistance
                    training exercises.
                </p>
                <p>
                    My technical interests include embedded systems, heuristic algorithms, machine learning, and image
                    processing.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Blog -->
<section id="blog" class="section section-solid-yellow">
    <div class="container">
        <div class="row mt20">
            <div class="col-sm-8 wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInLeft;">
                <h3 class="section-title-blog"><a href="https://microamps.gibsjose.com" target="_blank">microamps</a>
                </h3>
                <pre class=" language-none"><code class=" microamps-codeblock language-none">Microamps is a blog about
                    computer science, security, and engineering.<br><br><br><br><br><br></code></pre>
            </div>

            <div class="col-sm-4 wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInRight;">
                <a href="https://microamps.gibsjose.com" target="_blank"><img
                        src="//www.gibsjose.com/assets/img/blog/microamps_grey.png" class="img-responsive blog-img"></a>
            </div>
        </div>
    </div>
</section>

<!-- Twitter -->
<!-- <section class="section" id="tweets">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s">
                <i class="fa fa-twitter twitter-feed-icon"></i>
                <span id="twitterFeed"></span>
            </div>
        </div>
    </div>
</section> -->

<!-- Resume -->
<section id="resume" class="section section-solid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-title">Resume</h3>
                <div class="section-title-border"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="resume-pdf">Download resume as a <a
                        href="//www.gibsjose.com/assets/pdf/Resume - Joe Gibson.pdf" target="_blank">PDF</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="v-timeline mt50">
                    <li>
                        <h3 class="v-heading wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s"
                            style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInDown;">
                            <i class="fa fa-briefcase"></i> Work experience</h3>
                    </li>
                    <li>
                        <time class="v-time wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0.2s"
                              datetime="2013-04-16 21:30"
                              style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <span>2015 - Present</span></time>
                        <div class="v-icon" data-toggle="collapse" data-target="#toggle-00"><i class="fa fa-plus"></i>
                        </div>
                        <div class="v-label wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0.2s"
                             style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.2s; animation-name: fadeInRight;">
                            <h4><a class="resume-label" href="#" data-toggle="collapse" data-target="#toggle-00">
                                TwistHDM
                            </a></h4>
                            <div id="toggle-00" class="collapse">
                                <h5><i>Computer Engineer</i></h5>

                                <ul>
                                    <i class="fa fa-caret-right"></i>
                                </ul>

                                <ul>
                                    <i class="fa fa-caret-right"></i>
                                </ul>

                                <ul>
                                    <i class="fa fa-caret-right"></i>
                                </ul>

                                <ul>
                                    <i class="fa fa-caret-right"></i>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <time class="v-time wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0s"
                              datetime="2013-04-15 13:15"
                              style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInLeft;">
                            <span>2013 - 2015</span></time>
                        <div class="v-icon" data-toggle="collapse" data-target="#toggle-0" aria-expanded="true"><i
                                class="fa fa-minus"></i></div>
                        <div class="v-label wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0s"
                             style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInRight;">
                            <h4><a class="resume-label" href="#" data-toggle="collapse" data-target="#toggle-0">
                                Twisthink
                            </a></h4>
                            <div id="toggle-0" class="collapse in" aria-expanded="true">
                                <h5><i>Computer Engineer</i></h5>
                                <p>

                                </p>
                                <ul>
                                    <i class="fa fa-caret-right"></i> <a
                                        href="https://github.com/rfcx/rfcx-sentinel-pcb" target="_blank">
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> <a
                                        href="https://github.com/rfcx/rfcx-sentinel-microcontroller" target="_blank"></a>
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> <a
                                        href="https://github.com/rfcx/rfcx-sentinel-android" target="_blank"></a>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="v-timeline mt50">
                    <li>
                        <h3 class="v-heading wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s"
                            style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInDown;">
                            <i class="fa fa-graduation-cap"></i> Education</h3>
                    </li>
                    <li>
                        <time class="v-time wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0.5s"
                              datetime="2013-04-18"
                              style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                            <span>2010 - 2015</span></time>
                        <div class="v-icon" data-toggle="collapse" data-target="#toggle-5"><i class="fa fa-plus"></i>
                        </div>
                        <div class="v-label wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0.5s"
                             style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <h4><a class="resume-label" href="#" data-toggle="collapse" data-target="#toggle-5">
                                B.S.E Computer Engineering
                            </a></h4>
                            <div id="toggle-5" class="collapse">
                                <h4>Grand Valley State University - Allendale, MI</h4>

                                <p></p><h5><b>GPA: 3.957</b></h5>
                                <p></p>

                                <p></p><h5><b>Awards</b></h5>
                                <p></p>
                                <ul>
                                    <i class="fa fa-caret-right"></i> ASEE CEED National Co-op Student of the Year: 2014
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> Academic Excellence Award in Computer Engineering:
                                    2015
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> Oustanding Co-op Student: 2015
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> Oustanding Senior in Computer Engineering: 2015
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> Dean's List
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> FIRST Robotics Engineering Scholarship
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> Award for Excellence Scholarship
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> Faculty Award of Distinction Scholarship
                                </ul>

                                <p></p><h5><b>Extracurricular Activities</b></h5>
                                <p></p>
                                <ul>
                                    <i class="fa fa-caret-right"></i> Tau Beta Pi Engineering Honor Society: 2013 - 2015
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> President of Spanish Club 'La Tertulia': 2011 -
                                    2014
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> President and Co-Founder of Brewing Science and
                                    Technology Club: 2013 - 2015
                                </ul>
                                <ul>
                                    <i class="fa fa-caret-right"></i> Vice President of Hardware, Computer Science Club:
                                    2012 - 2015
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <time class="v-time wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0.6s"
                              datetime="2013-04-18"
                              style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <span><!-- empty looks better... --></span></time>
                        <div class="v-icon" data-toggle="collapse" data-target="#toggle-6" aria-expanded="true"><i
                                class="fa fa-minus"></i></div>
                        <div class="v-label wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0.6s"
                             style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.6s; animation-name: fadeInRight;">
                            <h4><a class="resume-label" href="#" data-toggle="collapse" data-target="#toggle-6">
                                Relevant Courses
                            </a></h4>
                            <div id="toggle-6" class="collapse in" aria-expanded="true">
                                <ul><i class="fa fa-check"></i> Operating Systems</ul>
                                <ul><i class="fa fa-check"></i> Data Communications</ul>
                                <ul><i class="fa fa-check"></i> Data Structures and Algorithms</ul>
                                <ul><i class="fa fa-check"></i> Software Engineering</ul>
                                <ul><i class="fa fa-check"></i> System Programming</ul>
                                <ul><i class="fa fa-check"></i> Structured Programming in C</ul>
                                <ul><i class="fa fa-check"></i> Java I and II</ul>
                                <ul><i class="fa fa-check"></i> Digital Systems</ul>
                                <ul><i class="fa fa-check"></i> Embedded System Design</ul>
                                <ul><i class="fa fa-check"></i> Design of Microcontroller Applications</ul>
                                <ul><i class="fa fa-check"></i> Integrated Circuit System Design</ul>
                                <ul><i class="fa fa-check"></i> Probability and Signal Analysis</ul>
                                <ul><i class="fa fa-check"></i> Statistical Modelling for Engineers</ul>
                                <ul><i class="fa fa-check"></i> Engineering Measurement and Data Analysis</ul>
                                <ul><i class="fa fa-check"></i> Circuit Analysis I and II</ul>
                                <ul><i class="fa fa-check"></i> Electronic Circuits I</ul>
                                <ul><i class="fa fa-check"></i> Computer Aided Design and Manufacturing</ul>
                                <ul><i class="fa fa-check"></i> Calculus I, II, and III</ul>
                                <ul><i class="fa fa-check"></i> Linear Algebra and Differential Equations</ul>
                                <ul><i class="fa fa-check"></i> Engineering Physics I and II</ul>
                                <ul><i class="fa fa-check"></i> Senior Engineering Project I and II</ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Skills -->
<section class="section" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-title">Skills</h3>
                <div class="section-title-border"></div>
            </div>
        </div>
        <div class="row personal-skills">
            <div class="col-sm-6 wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInLeft;">
                <h4>Programming Languages</h4>
                <h5>C</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                         aria-valuemax="100" style="width: 80%;">
                        80%
                    </div>
                </div>
                <h5>C++</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                         aria-valuemax="100" style="width: 75%;">
                        75%
                    </div>
                </div>
                <h5>Python</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100" style="width: 70%;">
                        70%
                    </div>
                </div>
                <h5>Bash</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                         aria-valuemax="100" style="width: 70%;">
                        70%
                    </div>
                </div>
                <h5>LaTeX</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;">
                        60%
                    </div>
                </div>
                <br>
                <h4>Hardware Description Languages</h4>
                <h5>VHDL</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                         aria-valuemax="100" style="width: 50%;">
                        50%
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInRight;">
                <h4>Software Skills</h4>
                <ul class="fa-ul skills-ul">
                    <!-- Three Stars -->
                    <li>
                        <span class="stars stars-three"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i>&nbsp;</span>
                        <code class=" language-bash"><span class="token function">git</span></code> Version Control
                    </li>
                    <!-- Two and a Half Stars -->
                    <li>
                        <span class="stars stars-two-half"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star-half-o"></i>&nbsp;</span>
                        Algorithm design and optimization
                    </li>
                    <li>
                        <span class="stars stars-two-half"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star-half-o"></i>&nbsp;</span>
                        OS X and Linux Systems Programming
                    </li>
                    <li>
                        <span class="stars stars-two-half"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star-half-o"></i>&nbsp;</span>
                        Unix Terminal (<code class=" language-bash"><span class="token function">make</span></code>,
                        <code class=" language-bash">gdb</code>, <code class=" language-bash"><span
                            class="token function">ssh</span></code>, etc.)
                    </li>
                    <!-- Two Stars -->
                    <li>
                        <span class="stars stars-two"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star-o"></i>&nbsp;</span>
                        Perl, Awk, and Sed
                    </li>
                    <li>
                        <span class="stars stars-two"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star-o"></i>&nbsp;</span>
                        ARM Assembly Language
                    </li>
                    <li>
                        <span class="stars stars-two"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star-o"></i>&nbsp;</span>
                        FPGAs (VHDL, Active HDL, LabVIEW)
                    </li>
                    <li>
                        <span class="stars stars-two"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star-o"></i>&nbsp;</span>
                        Adobe Illustrator
                    </li>
                    <!-- One Star -->
                    <li>
                        <span class="stars stars-one"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                                class="fa fa-star-o"></i>&nbsp;</span>
                        HTML, CSS, PHP
                    </li>
                    <li>
                        <span class="stars stars-one"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                                class="fa fa-star-o"></i>&nbsp;</span>
                        JavaScript, jQuery
                    </li>
                    <li>
                        <span class="stars stars-one"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                                class="fa fa-star-o"></i>&nbsp;</span>
                        Objective-C (iOS and OS X with Xcode)
                    </li>
                    <li>
                        <span class="stars stars-one"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                                class="fa fa-star-o"></i>&nbsp;</span>
                        Android Apps (Android Studio)
                    </li>
                </ul>
            </div>
        </div>
        <div class="row personal-skills">
            <div class="col-sm-6 wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0.1s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.1s; animation-name: fadeInLeft;">
                <h4>Hardware Skills</h4>
                <ul class="fa-ul skills-ul">
                    <li><i class="fa-li fa fa-check"></i>PCB Schematic Design and Board Layout (Altium, Eagle, KiCad)
                    </li>
                    <li><i class="fa-li fa fa-check"></i>SPICE Simulation (LTspice)</li>
                    <li><i class="fa-li fa fa-check"></i>Space Systems and Sub-orbital Telescopes</li>
                    <li><i class="fa-li fa fa-check"></i>Ruggedized Computers</li>
                    <li><i class="fa-li fa fa-check"></i>Avionics Systems</li>
                    <li><i class="fa-li fa fa-check"></i>Oscilloscopes, Multimeters, and Function Generators</li>
                    <li><i class="fa-li fa fa-check"></i>Embedded System Design</li>
                    <li><i class="fa-li fa fa-check"></i>Regulator Design</li>
                    <li><i class="fa-li fa fa-check"></i>Robotics</li>
                </ul>
            </div>
            <div class="col-sm-6 wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0.1s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.1s; animation-name: fadeInRight;">
                <h4>Basic Knowledge of...</h4>
                <ul class="fa-ul skills-ul">
                    <li><i class="fa-li fa fa-check"></i>Time- and Frequency-Domain Circuit Analysis</li>
                    <li><i class="fa-li fa fa-check"></i>Electromagnetic Physics</li>
                    <li><i class="fa-li fa fa-check"></i>Astrophysics/Cosmology</li>
                    <li><i class="fa-li fa fa-check"></i>Particle Physics</li>
                </ul>
            </div>
        </div>
        <div class="row personal-skills">
            <div class="col-sm-8 wow fadeInLeft animated" data-wow-duration="0.7s" data-wow-delay="0.1s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.1s; animation-name: fadeInLeft;">
                <h4>Languages</h4>
                <div class="lang-container">
                    <div style="display:inline;width:100px;height:100px;">
                        <canvas width="100" height="100"></canvas>
                        <input type="text" value="100" class="dial" data-width="100" data-height="100"
                               data-fgcolor="#2b9fe9" data-skin="tron" data-thickness=".2" data-displayprevious="true"
                               data-readonly="true" readonly="readonly"
                               style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(43, 159, 233); padding: 0px; -webkit-appearance: none;">
                    </div>
                    <p class="lang-description">English</p>
                    <span class="lang-level">native</span>
                </div>

                <div class="lang-container">
                    <div style="display:inline;width:100px;height:100px;">
                        <canvas width="100" height="100"></canvas>
                        <input type="text" value="100" class="dial" data-width="100" data-height="100"
                               data-fgcolor="#2b9fe9" data-skin="tron" data-thickness=".2" data-displayprevious="true"
                               data-readonly="true" readonly="readonly"
                               style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(43, 159, 233); padding: 0px; -webkit-appearance: none;">
                    </div>
                    <p class="lang-description">Spanish</p>
                    <span class="lang-level">fluent</span>
                </div>

                <div class="lang-container">
                    <div style="display:inline;width:100px;height:100px;">
                        <canvas width="100" height="100"></canvas>
                        <input type="text" value="40" class="dial" data-width="100" data-height="100"
                               data-fgcolor="#2b9fe9" data-skin="tron" data-thickness=".2" data-displayprevious="true"
                               data-readonly="true" data-bgcolor="#fff" readonly="readonly"
                               style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(43, 159, 233); padding: 0px; -webkit-appearance: none;">
                    </div>
                    <p class="lang-description">French</p>
                    <span class="lang-level">intermediate</span>
                </div>

                <div class="lang-container">
                    <div style="display:inline;width:100px;height:100px;">
                        <canvas width="100" height="100"></canvas>
                        <input type="text" value="15" class="dial" data-width="100" data-height="100"
                               data-fgcolor="#2b9fe9" data-skin="tron" data-thickness=".2" data-displayprevious="true"
                               data-readonly="true" data-bgcolor="#fff" readonly="readonly"
                               style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(43, 159, 233); padding: 0px; -webkit-appearance: none;">
                    </div>
                    <p class="lang-description">Russian</p>
                    <span class="lang-level">basic</span>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight animated" data-wow-duration="0.7s" data-wow-delay="0.1s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.1s; animation-name: fadeInRight;">
                <h4>Hobbies</h4>
                <ul class="fa-ul skills-ul">
                    <li><i class="fa-li fa fa-plane"></i>Language, travel, and culture</li>
                    <li><i class="fa-li fa fa-music"></i>Classical, Spanish flamenco, and jazz guitar</li>
                    <li><i class="fa-li fa fa-tree"></i>Mountain climbing, hiking, and backpacking</li>
                    <li><i class="fa-li fa fa-flask"></i>Brewing chemistry and technology</li>
                    <li><i class="fa-li fa fa-beer"></i>Member of NASA Zymernauts Brewing Club</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-title">Contact</h3>
                <div class="section-title-border"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 wow fadeInDown animated" data-wow-duration="0.7s" data-wow-delay="0s"
                 style="visibility: visible; animation-duration: 0.7s; animation-delay: 0s; animation-name: fadeInDown;">
                <p>
                </p><h4>
                <i class="fa fa-fw fa-envelope-o fa-md"></i>&nbsp;&nbsp;<a href="mailto:gibsjose@mail.gvsu.edu">gibsjose@mail.gvsu.edu</a>
            </h4>

            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><img width="32 px" src="assets/img/favicon/favicon.ico" alt="Icon"> Copyright © 2016
                Gibsjose. All rights reserved.
            </div>
            <div class="col-sm-6 text-right">
                <div class="social">
                    <a href="https://keybase.io/gibsjose" class="btn btn-theme"><i class="fa fa-key"></i></a>
                    <a href="https://github.com/gibsjose" class="btn btn-theme"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/gibsjose" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Load GitHub cards widget script -->
<!-- <script src="https://cdn.jsdelivr.net/github-cards/latest/widget.js"></script> -->

<div class="backstretch"
     style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 658px; width: 658px; z-index: -999999; position: fixed;">
    <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 950.609px; height: 658px; max-height: none; max-width: none; z-index: -999999; left: -146.305px; top: 0px;"
         src="assets/img/background/space/10.jpg" class="deleteable"><img
        style="position: absolute; display: none; margin: 0px; padding: 0px; border: none; width: auto; height: auto; max-height: none; max-width: none; z-index: -999999;"
        src="assets/img/background/space/11.jpg"></div>
</body>
<script type="text/javascript" charset="utf8" src="{% static 'jquery-3.1.1.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" charset="utf8" src="{% static 'jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" charset="utf8" src="{% static 'bootstrap.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'jquery.backstretch.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'bootstrapValidator.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'emailAddress.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'spin.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'ladda.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'retina.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'jquery.shuffle.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'jquery.bxslider.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'waypoints.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'jquery.counterup.min.js' %}"></script>
<!-- <script src="//www.gibsjose.com/assets/js/jQuery.GI.TheWall.min.js"></script> -->
<!-- <script src="//www.gibsjose.com/assets/js/twitterFetcher.min.js"></script> -->
<script type="text/javascript" charset="utf8" src="{% static 'jquery.simple-text-rotator.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'jquery.throttledresize.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'wow.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'jquery.knob.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'app-logic.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'prism.js' %}"></script>
<script type="text/javascript">
        /* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */

</script>

</html>